{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible"><meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Fantasy Premier League</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/help.css'%}"/>
    <link rel="shortcut icon" href = "{% static 'Images/favicon.ico'%}" type="image/x-icon">    
</head> 
<body>
    <a class="navbar-brand" href="http://127.0.0.1:8000/login">      
      <img src="{% static 'Images/logo.png' %}" alt="Premier League=Logo" width="300px" height="150px" >              
      <div class="dropdown">      
        <button class="dropbtn">Premier League</button>
        <div class="dropdown-content" >        
          <a href= "https://www.premierleague.com/" target="_blank">Home</a>
          <a href= "https://www.premierleague.com/fixtures" target="_blank">Fixtures</a>
          <a href= "https://www.premierleague.com/players" target="_blank">Players</a>
          <a href= "https://www.premierleague.com/managers" target="_blank">Managers</a>        
          <a href="/">Fantasy</a>      
        </div>        
      </div>
    </a>
    

    <h2>Club Sites</h2>
    <a href="http://www.arsenal.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link" role="menuitem" target="_blank">
    <div class="badge badge--small badge-image-container" data-size="25" data-widget="club-badge-image"><img class="badge-image badge-image--25 js-badge-image" src="{%static 'Images/t3(1).png'%}"></a>
    <a href="https://www.avfc.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link" role= "menuitem" target="_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src="{%static 'Images/t7(1).png'%}"></a>
    <a href= "https://www.brightonandhovealbion.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium= link" role="menuitem" target="_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src="{%static 'Images/t36(1).png'%}"></a>
    <a href =  "http://www.burnleyfootballclub.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role="menuitem" target="_blank"><img class= "badge-image badge-image--25 js-badge-image" src="{%static 'Images/t90(1).png'%}"></a>
    <a href= "https://www.chelseafc.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target="_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src="{%static 'Images/t8(1).png'%}"></a>
    <a href= "http://www.cpfc.co.uk/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src="{%static 'Images/t31(1).png'%}"></a>
    <a href= "http://www.evertonfc.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank"><img class= "badge-image badge-image--25 js-badge-image" src="{%static 'Images/t11(1).png'%}"></a>
    <a href= "http://www.fulhamfc.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t54(1).png'%}"></a>
    <a href="http://www.leedsunited.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank"><img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t2(1).png'%}"></a>
    <a href= "http://www.lcfc.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t13(1).png'%}"></a>
    <a href= "http://www.liverpoolfc.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t14(1).png'%}"></a>
    <a href= "https://www.mancity.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target="_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t43(1).png'%}"></a>
    <a href= "http://www.manutd.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t1(1).png'%}"></a>
    <a href= "https://www.nufc.co.uk/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role="menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t4(1).png'%}"></a>
    <a href= "https://www.sufc.co.uk/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t49(1).png'%}"></a>
    <a href= "https://www.southamptonfc.com/?utm_source=premier-league-website&amp;utm_campaign= website&amp;utm_medium= link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t20(1).png'%}"></a>
    <a href= "http://www.tottenhamhotspur.com/?utm_source= premier-league-website&amp;utm_campaign=website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t6(1).png'%}"></a>
    <a href= "http://www.wba.co.uk/?utm_source= premier-league-website&amp;utm_campaign=website&amp;utm_medium= link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t35(1).png'%}">
    <a href= "http://www.whufc.com/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium= link" role="menuitem" target= "_blank">
    <img class="badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t21(1).png'%}"></a></a>
    <a href= "https://www.wolves.co.uk/?utm_source= premier-league-website&amp;utm_campaign= website&amp;utm_medium=link" role= "menuitem" target= "_blank">
    <img class= "badge-image badge-image--25 js-badge-image" src= "{%static 'Images/t39(1).png'%}"></a>        
  
    <div class="topnav" id = "topnav">
      <a href="points">Points</a>
      <a href="myteam">My Team</a>
      <a href="pick_team2">Pick team</a>      
      <a href="transfers">Transfers</a>
      <a href="manage_leagues">Leagues</a>
      <a href="signout">Sign Out</a>
    </div>

    <div style="font-family: 'Courier New', Courier, monospace;">
        <h1 style="text-align: center;"><b>Rules</b></h1><br><br>        
        <h2><b>Squad Size</b></h2><br>
        <p>
            To join the game select a fantasy football squad of 15 players, consisting of: <br>2 Goalkeepers <br> 5 Defenders <br>5 Midfielders <br>3 Forwards  
        </p><br>
        <h2>Budget</h2><br>
        <p>The total value of your initial squad must not exceed £100 million.</p><br>
        <h2>Choose your Starting 11</h2><br>
        <p>
            From your 15 player squad, select 11 players by the Gameweek deadline to form your team. <br>
            All your points for the Gameweek will be scored by these 11 players. <br>
            Your team can play in any formation providing that 1 goalkeeper, at least 3 defenders and at least 1 forward are selected at all times.
        </p><br>
        <h2><b>Selecting a Captain</b></h2><br>
        <p>From your starting 11 you nominate a captain. Your captain's score will be doubled.</p><br>
        <h2>Transfers</h2><br>
        <p>After selecting your initial squad, you will receive 1 free transfer each Gameweek. Each additional transfer you make in the same Gameweek will deduct 4 points from your total score of that Gameweek.</p><br>
        <h2><b>Scoring</b></h2><br>
        <p>During the season, your fantasy football players will be allocated points based on their performance in the Premier League.</p><br>
        <table style="background-color: azure;">
            <caption style="text-align: center;">Points System</caption>
            <tr>
                <th style="background-color:rgb(192, 186, 186);">Action</th>
                <th style="background-color:rgb(192, 186, 186);">Points</th>
            </tr>
            <tr>
                <td>For playing up to 60 minutes</td>
                <td>1</td>
            </tr>
            <tr>
                <td>For playing 60 minutes or more (excluding stoppage time)</td>
                <td>2</td>
            </tr>
            <tr>
                <td>For each goal scored by a goalkeeper or defender</td>
                <td>6</td>
            </tr>
            <tr>
                <td>For each goal scored by a midfielder</td>
                <td>5</td>
            </tr>
            <tr>
                <td>For each goal scored by a forward</td>
                <td>4</td>
            </tr>
            <tr>
                <td>For each goal assist</td>
                <td>3</td>
            </tr>
            <tr>
                <td>For a clean sheet by a goalkeeper or defender</td>
                <td>4</td>
            </tr>
            <tr>
                <td>For a clean sheet by a midfielder</td>
                <td>1</td>
            </tr>
            <tr>
                <td>For every 2 goals conceded by a goalkeeper or defender</td>
                <td>-1</td>
            </tr>
            <tr>
                <td>For each yellow card</td>
                <td>-1</td>
            </tr>
            <tr>
                <td>For each red card</td>
                <td>-3</td>
            </tr>
        </table>
        <br>
        <h2><b>Clean Sheets</b></h2><br>
        <p>
            A clean sheet is awarded for not conceding a goal whilst on the pitch and playing at least 60 minutes (excluding stoppage time). <br>
            If a player has been substituted when a goal is conceded this will not affect any clean sheet bonus.
        </p><br>
        <h2><b>Red Cards</b></h2>        
        <br><p>
            If a player receives a red card, they will continue to be penalised for goals conceded by their team. <br> Red card deductions include any points deducted for yellow cards.
        </p><br>
    </div>

</body>
</html>